:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navbar {
  background-color: var(--primary-color);
}

.container {
  margin: 60px auto;
}

.nav {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav a {
  margin: 20px;
}

.nav__primary,
.nav__about {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav__primary {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.nav__about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage {
  color: var(--primary-color);
}

.description__info {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.contact-info__link {
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }

  .container {
    margin-top: 80px;
  }

  .homepage-img {
    display: none;
  }

  .nav__primary {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .col-md-6 {
    text-align: center;
  }

  .about-img {
    margin-bottom: 30px;
  }
}
